<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password Updation</title>
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("txtPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        $(document).ready(function() {
            $("#password_modal_save").on("click", function () {
                event.preventDefault();
                var token = $("#token").val();
                var password = $("#txtPassword").val();
                var confirmPassword = $("#txtConfirmPassword").val();
                $.ajax({
                    url: "/updateRequest",
                    method: "post",
                    data: {"token": token,"newPassword":password,"confirmPassword":confirmPassword},

                    success: function (data) {
                        if(data==1)
                        {
                            alert("successfully updated");
                            location.assign("/");
                        }
                        else if(data==2)
                        {
                            alert("token is wrong");
                            location.reload("true");
                        }
                        else
                        {
                            alert("confirm password and password not matches");
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="modal" id="password_modal">
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <form >
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label text="Token" class="control-label">Token</label>
                <div class="controls">
                    <input id="token" type="Number" th:name="token" required="required">

                </div>
            </div>
            <div class="control-group">
                <label text="new password" class="control-label">New Password</label>
                <div class="controls">
                    <input type="password" th:name="newPassword" required="required" id="txtPassword" minlength="6">
                    <input type="checkbox" onclick="myFunction()">Show Password
                </div>
            </div>
            <div class="control-group">
                <label text="confirm password" class="control-label">Confirm Password</label>
                <div class="controls">
                    <input type="password" th:name="confirmPassword" required="required" id="txtConfirmPassword" minlength="6">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button href="#" class="btn btn-primary" id="password_modal_save" type="submit"  >Save changes</button>
        </div>
    </form>
</div>
</body>
</html>